<div class="tft-board">
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="1"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="2"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="3"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="4"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="5"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="6"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="7"></app-hexagon>
  </div>
  <div class="tft-board" style="position:relative; left:60px;">
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="1"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="2"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="3"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="4"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="5"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="6"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="7"></app-hexagon>
  </div>
  <div class="tft-board">
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="8"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="9"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="10"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="11"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="12"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="13"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="14"></app-hexagon>
  </div>
  <div class="tft-board" style="position:relative; left:60px;">
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="15"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="16"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="17"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="18"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="19"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="20"></app-hexagon>
    <app-hexagon [boardPop]="boardPop" (addPop)="increasePop($event)" id="21"></app-hexagon>
  </div>

  